@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #d9e2e8;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 0 20px;
}

.card {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 27px;
    margin-bottom: 20px;
}

.card p {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 30px;
}

.card-sporty h2 {
color: #e04553;
}

.card-casual h2 {
    color: #0d4ba3;
    }

.card-formal h2 {
    color: #512b22;
    }

.card a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.card a:hover {
    opacity: 0.9;
}

.card-sporty a {
    background-color: #e04553;
}

.card-casual a {
    background-color: #0d4ba3;
}

.card-formal a {
    background-color: #512b22;
}

.card-sporty {
    background: #fff url('https://img.freepik.com/fotos-premium/homem-calcado-desportivo_69593-3860.jpg?w=996') no-repeat center right/200px;
}

.card-casual {
    background: #fff url('https://img.irroba.com.br/fit-in/600x600/filters:fill(fff):quality(80)/bmbrasil/catalog/loja/casual-masculino/147/001/147-01-caramelo-casual-porshe-1.jpg') no-repeat center right/200px;
}

.card-formal {
    background: #fff url('https://png.pngtree.com/png-vector/20240621/ourmid/pngtree-hyper-realisitc-vector-art-black-leather-stichted-classic-shoes-isolated-white-png-image_12815686.png') no-repeat center right/200px;
}
